// Elements
@import './message';

.chat-interface {
  height: 100%;
  flex: 1;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.chat-interface__messages-block {
  width: 90%;
  height: 100%;

  display: flex;
  justify-content: flex-start;
  flex-direction: column-reverse;
  align-items: center;

  overflow-y: auto;

  position: relative;

  &::-webkit-scrollbar {
    width: 0;
  }
}

.empty-warning {
  display: block;

  position: absolute;

  display: flex;
  align-items: center;

  font-size: 18px;
  font-style: italic;

  color: $dark-gray;
}

.chat-interface__new-message-container {
  width: 100%;
  height: 100px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.chat-interface__new-message-block {
  width: 1000px;

  height: 50%;

  border-radius: 15px;
  border: 2px solid $gray;

  box-shadow: 0px 0px 10px -2px $gray;

  display: flex;
  align-items: center;

  input[type='text'] {
    width: 95%;
    height: 100%;

    border-radius: 15px;
    border: none;

    padding-left: 15px;
    // padding-top: 5px;

    font-family: inherit;
    font-size: 15px;
    outline: none;
  }

  button {
    width: 25px;
    height: 25px;

    position: relative;
  }

  input[type='submit'] {
    display: none;
  }
}

.emoji-picker {
  position: absolute;

  right: 0;
  bottom: 35px;
}

.emoji-picker__show-btn {
  background: none;
  border: none;

  background: url(/styles/img/smile.svg);
  background-size: cover;

  &:hover {
    cursor: pointer;
  }
}
