.message {
  width: 100%;

  margin-top: 25px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.message__author {
  display: flex;
  align-items: center;

  margin-bottom: 5px;
}

.message__author-img {
  width: 25px;
  height: 25px;

  border-radius: 50%;
}

.message__author-name {
  color: $black;

  margin-left: 5px;
}

.message__block {
  width: 500px;
  min-height: 50px;

  border-radius: 10px;
  box-shadow: $gray 0px 25px 50px -12px;

  position: relative;
  z-index: 1;

  &::before {
    position: absolute;

    border-radius: 10px;

    opacity: 80%;

    left: 0;
    top: 0;
    bottom: 0;
    right: 0;

    width: 100%;
    height: 100%;

    content: '';

    background-color: $white;

    z-index: -1;
  }
}

.message__text {
  width: 90%;
  line-height: 20px;

  padding: 10px;

  color: $black;

  font-size: 15px;
}

.message__date {
  text-align: end;

  color: $dark-gray;
  font-size: 12px;
  font-style: italic;

  margin-right: 10px;
  padding-bottom: 5px;
}

// Mods
.message_outgoing {
  align-items: flex-end;

  .message__block {
    z-index: 1;
    &::before {
      background-color: $gray;
    }
  }

  .message__date {
    color: $black;
  }
}
